link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/styles/cart.css">
<link rel="stylesheet" type="text/css" href="/styles/cart_responsive.css">

<div class="super_container">

    <div class="home">
		<div class="home_container">
			<div class="home_background" style="background-image:url(/images/carrito.jpg)"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="breadcrumbs">
									<ul>
										<li><a href="/clientes/homes">Inicio</a></li>
										<li><a href="/clientes/productosAccion">categorias</a></li>
										<li>Carrito De Compras</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  
    <div class="cart_info">
		<div class="container">
			<div class="row">
				<div class="col">
					<!-- Column Titles -->
					<div class="cart_info_columns clearfix">
						<div class="cart_info_col cart_info_col_product">Producto</div>
						<div class="cart_info_col cart_info_col_price">precio</div>
						<div class="cart_info_col cart_info_col_quantity">cantidad</div>
						<div class="cart_info_col cart_info_col_total">Total</div>
					</div>
				</div>
			</div>
			<div class="row cart_items_row">
				<div class="col">

					<!-- Cart Item -->
					<div class="cart_item d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
						<!-- nombre -->
						<div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
							<div class="cart_item_image">
								<div><img src="/images/call.jpg" alt="" height="210"></div>
							</div>
							<div class="cart_item_name_container">
								<div class="cart_item_name"><a href="#">Call of duty Deluxe Edition</a></div>
						
							</div>
						</div>
						<!-- precio -->
						<div class="cart_item_price">$790.90</div>
						<!-- cantidad -->
						<div class="cart_item_quantity">
							<div class="product_quantity_container">
								<div class="product_quantity clearfix">
									<span>cant</span>
									<input id="quantity_input" type="text" pattern="[0-9]*" value="1">
									<div class="quantity_buttons">
										<div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
										<div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
									</div>
								</div>
							</div>
                        </div>
                        <div class="cart_item_total">$790.90</div>
					</div>

				</div>
            </div>
            
            <div class="row row_cart_buttons">
				<div class="col">
					<div class="cart_buttons d-flex flex-lg-row flex-column align-items-start justify-content-start">
						<div class="button continue_shopping_button"><a href="/clientes/homes">Continuar Comprando</a></div>
						<div class="cart_buttons_right ml-lg-auto">
							<div class="button clear_cart_button"><a href="#">Eliminar</a></div>
							<div class="button update_cart_button"><a href="#">Actualizar </a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row_extra">
				<div class="col-lg-4">
                            
                            <!-- Delivery -->
                            
        
                            <!-- Coupon Code -->
                            <div class="coupon">
                                <div class="section_title">VERIFICACION</div>
                                <div class="section_subtitle">Verifica que la informacion sea veridica</div>
                                
                            </div>
                        </div>
        
                        <div class="col-lg-6 offset-lg-2">
                            <div class="cart_total">
                                <div class="section_title">COMPRA TOTAL</div>
                                <div class="section_subtitle">INFORMACION FINAL</div>
                                <div class="cart_total_container">
                                    <ul>
                                        <li class="d-flex flex-row align-items-center justify-content-start">
                                            <div class="cart_total_title">COMPRA</div>
                                            <div class="cart_total_value ml-auto">$790.90</div>
                                        </li>
                                        <li class="d-flex flex-row align-items-center justify-content-start">
                                            <div class="cart_total_title">ENVIO</div>
                                            <div class="cart_total_value ml-auto">0</div>
                                        </li>
                                        <li class="d-flex flex-row align-items-center justify-content-start">
                                            <div class="cart_total_title">Total</div>
                                            <div class="cart_total_value ml-auto">$790.90</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="button checkout_button"><a href=/clientes/check>CONFIRMAR COMPRA</a></div>
                            </div>
                        </div>
                    </div>
                </div>		
            </div>
            <div class="footer_overlay"></div>
            <footer class="footer">
                <div class="footer_background" style="background-image:url(/images/footer2.jpg)"></div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="footer_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
                                <div class="footer_logo"><a href="#">GAMER FET</a></div>
                                <div class="copyright ml-auto mr-auto"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Brayan Fernando Lizcano <i class="fa fa-heart-o" aria-hidden="true"></i>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                                <div class="footer_social ml-lg-auto">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>



</div>