<link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
<link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/styles/checkout.css">
<link rel="stylesheet" type="text/css" href="/styles/checkout_responsive.css">

<div class="super_container">


    <div class="home">
		<div class="home_container">
			<div class="home_background" style="background-image:url(/images/loguin.jpg)"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="breadcrumbs">
									<ul>
										<li><a href="/clientes/homes">inicio</a></li>
										<li><a href="/clientes/productosAccion">categorias</a></li>
										<li>Loguin</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="checkout">
		<div class="container">
			<div class="row">

				<!-- Billing Info -->
				<div class="col-lg-6">
					<div class="billing checkout_section">
						<div class="section_title">REGISTRAR USUARIO</div>
						<div class="section_subtitle">Informacion del usuario</div>
						<div class="checkout_form_container">
							<form action="#" id="checkout_form" class="checkout_form">
								<div class="row">
									<div class="col-xl-6">
										<!-- Name -->
										<label for="checkout_name">Nombres*</label>
										<input type="text" id="checkout_name" class="checkout_input" required="required">
									</div>
									<div class="col-xl-6 last_name_col">
										<!-- Last Name -->
										<label for="checkout_last_name">Apellidos*</label>
										<input type="text" id="checkout_last_name" class="checkout_input" required="required">
									</div>
								</div>
						
							
								<div>
									<!-- Phone no -->
									<label for="checkout_phone">Telefono*</label>
									<input type="phone" id="checkout_phone" class="checkout_input" required="required">
								</div>
								<div>
									<!-- Email -->
									<label for="checkout_email">Email*</label>
									<input type="phone" id="checkout_email" class="checkout_input" required="required">
                                </div>
                                <div>
									<!-- Email -->
									<label for="checkout_email">Contraseña*</label>
									<input type="phone" id="checkout_email" class="checkout_input" required="required">
                                </div>
                            
                                
                                <div class="button order_button"><a href="#">Registrarse</a></div>
								
							</form>
						</div>
					</div>
				</div>

				<!-- Order Info -->

				<div class="col-lg-6">
					<div class="order checkout_section">
						<div class="section_title">INICIAR SECCION</div>
                        <div class="section_subtitle">Ingrese correo y contraseña</div>
                        
                        <div>
                            <!-- Email -->
                            <label for="checkout_email">Email*</label>
                            <input type="phone" id="checkout_email" class="checkout_input" required="required">
                        </div>
                        <div>
                            <!-- Email -->
                            <label for="checkout_email">Contraseña*</label>
                            <input type="phone" id="checkout_email" class="checkout_input" required="required">
                        </div>
                        

						
						<div class="button order_button"><a href="#">iniciar SECCION</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="footer_overlay"></div>
    <footer class="footer">
        <div class="footer_background" style="background-image:url(/images/footer2.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
                        <div class="footer_logo"><a href="#">GAMER FET</a></div>
                        <div class="copyright ml-auto mr-auto"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Brayan Fernando Lizcano <i class="fa fa-heart-o" aria-hidden="true"></i>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                        <div class="footer_social ml-lg-auto">
                            <ul>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



</div>