<link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
<link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="/styles/product.css">
<link rel="stylesheet" type="text/css" href="/styles/product_responsive.css">

<div class="super_container"></div>

    <div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url(/images/accion3.jpg)"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title">LOS MEJORES JUEGOS DE ACCION<span>.</span></div>
                                <div class="home_text"><p>Accion frenetica para cada jugador</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="products">
		<div class="container">
			<div class="row">
				<div class="col text-center">
                    <div class="products_title">Productos  Relacionados</div>
                    <br>
                </div>
                <br>
			</div>
			<div class="row">
				<div class="col">
					
					<div class="card-deck">
                        <div class="card">
                          <img class="card-img-top" src="/images/call.jpg" alt="Card image cap">
                          <div class="card-body">
<center>
                            <h5  class="card-title" style="color:black" >CALL OF DUTY COLD WAR</h5>
                            <a class="btn success" href="/clientes/car">COMPRAR</a>
                        </center>
                          </div>
                        </div>

                        <div class="card">
                            <img class="card-img-top" src="/images/assa.png" alt="Card image cap" height="500">
                            <div class="card-body">
  <center>
                              <h5  class="card-title" style="color:black" >ASSASIN CREED ODYSEY</h5>
                              <button class="btn success">COMPRAR</button>
                          </center>
                            </div>
                          </div>
                       
                        <div class="card">
                            <img class="card-img-top" src="/images/halo.png" alt="Card image cap" height="500">
                            <div class="card-body">
  <center>
                              <h5  class="card-title" style="color:black" >HALLO INFINITE</h5>
                              <button class="btn success">COMPRAR</button>
                         
                          </div>
                        </div>
                      </div>
			</div>
		</div>
    </div>

    <div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_border"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="newsletter_content text-center">
						<div class="newsletter_title">Registrate Para Mas Contenido</div>
						<div class="newsletter_text"><p>Para efectuar cualquier compra de nuestros productos es necesario registrarse</p></div>
						<div class="newsletter_form_container">
								<button class="newsletter_button trans_200" href="/clientes/Loguin"><span>Registrate</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="footer_overlay"></div>
	<footer class="footer">
		<div class="footer_background" style="background-image:url(/images/footer2.jpg)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="footer_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
						<div class="footer_logo"><a href="#">GAMER FET</a></div>
						<div class="copyright ml-auto mr-auto"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Brayan Fernando Lizcano <i class="fa fa-heart-o" aria-hidden="true"></i>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
						<div class="footer_social ml-lg-auto">
							<ul>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>